<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'users/css/main.css' %}" media="screen" title="no title" charset="utf-8">
        <title>Users</title>
    </head>
    <body>
        <h1>Users:</h1>
        <table>
            <thead>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for user in request.session.users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>
                            <a href="/users/{{user.id}}">Show</a>
                            <a href="/users/{{user.id}}/edit">Update</a>
                            <a href="/users/{{user.id}}/destroy">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/users/new">Add a new User</a>
    </body>
</html>
