<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add a student to all bootcamp courses</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'session_words/css/main.css' %}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <h2>Add a new course</h2>
        <form action="/courses/create" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        {% if request.session.name != None %} 
                            <input type="text" name="name" value="{{request.session.name}}">
                        {%else%}
                            <input type="text" name="name">
                        {% endif %} 
                    </td>
                    <td>
                        <!-- if errors["name"], then print it here -->
                        {% if request.session.errorname != None %}
                            <p style="color:red;">{{request.session.errorname}}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="desc" id="desc" cols="30" rows="10">{{request.session.desc}}</textarea></td>
                    <td>
                        <!-- if errors["name"], then print it here -->
                        {% if request.session.errordesc != None %}
                        <p style="color:red;">{{request.session.errordesc}}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <input type="submit" value="Add">
        </form>
        <div class="log">
            <h2>Courses</h2>
            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for loop here for printing the log of courses -->
                    {%for course in request.session.courses%}
                        <tr>
                            <td>{{course.name}}</td>
                            <td>{{course.desc.content}}</td>
                            <td>{{course.created_at}}</td>
                            <td>
                                <a href="/courses/{{course.id}}">remove</a>
                                <a href="/courses/{{course.id}}/comments">Comments</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>