<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Word Generator</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'random_word/css/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <p>Random Word (attempt # {{request.session.attempts}})</p>
    <h1>{{random_word}}</h1>
    <a href="/random_word/">Generate</a> | 
    <a href="/random_word/reset">Reset</a>
</body>
</html>